<h1>Bulk Time Entries</h1>

<p>Enter your time entries here</p>

<% labelled_tabular_form_for :bulk_time_entry, @bulk_time_entry, :url => {:action => 'save'} do |f| %>
  <%= render :partial => 'time_entry', :collection => @time_entries %>
  <%= submit_tag l(:button_save) %>
<% end %>
