<h1><%= l(:label_bulk_time_entries) %></h1>

<% labelled_tabular_form_for :bulk_time_entry_title, @bulk_time_entry, :url => {:action => 'save'} do |f| %>
  <div id="entries">
    <%= render :partial => 'time_entry', :collection => @time_entries %>
  </div>
  <div id="add-entry">
    <%= submit_tag l(:button_save) %>
    <%= link_to_remote  l(:label_bulk_time_add_another), :url => { :action => 'entry_form' }, :html => { :accesskey => 'a'} %>
  </div>
<% end %>

<% html_title l(:label_bulk_time_entries) %>
