<h1>Bulk Time Entries</h1>

<p>Enter your time entries here</p>

<% labelled_tabular_form_for :bulk_time_entry, @bulk_time_entry, :url => {:action => 'save'} do |f| %>
  <div id="entries">
    <%= render :partial => 'time_entry', :collection => @time_entries %>
  </div>
  <div id="add-entry">
    <%= link_to_remote  "Add another", :url => { :action => 'entry_form' }, :html => { :accesskey => 'a'} %>
  </div>
  <%= submit_tag l(:button_save) %>
<% end %>

<% content_for(:header_tags) do %>
   <script src="<%= url_for(:controller => 'bulk_time_entries', :action => 'issues_for_lookup') -%>" type="text/javascript"></script>
   <style type="text/css">
     div.auto_complete { width: 350px; background: #fff }
     div.auto_complete ul { border: 1px solid #888; margin: 0; padding: 0; width: 100%; list-style-type: none; }
     div.auto_complete ul li {margin: 0; padding: 3px; }
     div.auto_complete ul li:selected {background-color: #ffb; }
     div.auto_complete ul string.highlight {color: #800; margin: 0; padding: 0; }
   </style>
<% end %>
